/* =========================================================================
 *
 * base.scss
 *      Base HTML overrides and general reusable classes
 * 
 * ========================================================================= */
html, body {
    @include position(absolute, 0 0 0 0);
    background: #f0f0f0;
    font-family: 'Lustria';
    margin: 0;
    overflow: hidden;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'IM Fell English';
    font-style: normal;
    font-variant: small-caps;
}

// ====================================
//
// Base game styles
//
// ====================================
#game__wrapper, #game__screen-wrapper {
    @include position(absolute, 0 0 0 0);
    margin: 0;
    overflow: hidden;
    padding: 0;
}

// ====================================
//
// Reusable Classes
//
// ====================================
.clear { clear: both; }
.displayNone { display: none !important; }
.opacity0 { opacity: 0 !important; }
