/* =========================================================================
 *
 * game-screen__title.scss
 *      Title styles
 * 
 * ========================================================================= */
#game-screen__onboarding-wrapper {
    @include position(absolute, 0 0 0 0);
    perspective: 1000px;
    background: #686c49 url(/static/img/game-screen__title--background.jpg);
    background-size: cover;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

// Book Wrapper
// ------------------------------------
.game-screen-onboarding__book-item-wrapper {
    @include position(absolute, 30px 0 0 50%);
    background: url("/static/img/onboarding__book-bg.png"); 
    margin-left: -450px;
	height: 680px;
	width: 1000px;

    // different BG for onboarding state
    &.game-screen__onboarding-wrapper--title {
        // TODO: use a different image, fade in / out image using :after with
        // opacity and different background image?
        background: none !important;
    }

    .game-screen-onboarding__book-item {
        @include user-select(none);
        @include position(absolute, 13px 0 0 39px);
        height: 640px !important;
        width: 920px !important;

        &.transition {
            @include transition(margin-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940));
            transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        }
    }

    .game-screen-title__menu-item {
        @include user-select(none);
        cursor: pointer;
        background: rgba(0,0,0,0);
    }

    .page{
        background-color: white;
        font-size: 20px;
    }
    .page-wrapper{
        -webkit-perspective:2000px;
        -moz-perspective:2000px;
        -ms-perspective:2000px;
        -o-perspective:2000px;
        perspective:2000px;
    }

    // Hard pages
    .hard {
        background: url("/static/img/wood-bg.jpg") !important;
        box-shadow: inset 0 0 5px #666;
        color: #ffffff;
        font-weight: bold;
    }
    // COVER page
    .hard.p1 {
    }
    // INNER cover
    .hard.p2 {
    }

    // Pages
    .odd, .even { color: #343434; }

    .odd{
        background: url("/static/img/onboarding__new--individual-page--right.png");
    }
    .even{
        background: url("/static/img/onboarding__new--individual-page--left.png");
    }


    // Arrows
    .game-screen-onboarding__book-arrow--previous {
        background: #f0f0f0;
        cursor: pointer;
        font-size: 3em;
        position: absolute;
        left: -30px;
        top: 200px;
    }
    .game-screen-onboarding__book-arrow--next {
        background: #f0f0f0;
        cursor: pointer;
        font-size: 3em;
        position: absolute;
        right: -30px;
        top: 200px;
    }

    .game-screen-onboarding__book-arrow--next.disabled,
    .game-screen-onboarding__book-arrow--previous.disabled {
        opacity: 0.3;
    }
}
